body {
	font-family: 'LatoWeb';
}


*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

p {
	font-family: 'LatoWeb' !important;
	font-weight: 500 !important;
}
 
h1 {
	font-weight: 900 !important;
	color: #656565 !important;
	font-style: italic !important;
	font-size: 72px !important;
	margin-bottom: 0px !important;
  margin-top: 5px !important;
}

h3 {
	font-weight: 600 !important;
	margin-top: 50px !important;
}

b {
	font-weight: 600 !important;
}



.menu{
	list-style-type: none;
	display: flex;
    margin: 10px 0px 50px;
	padding: 0;
}

.button_link {
	display: block;
	margin-right: 60px;
	padding: 20px 50px;
	border: 1px solid #C0C2CE;
	border-radius:5px;
	text-decoration: none;
	color: #C0C2CE;
transition: ease 0.2s;
}
.button_link:hover {
	text-decoration: none;
	color: #C0C2CE;
	background-color: #FAFAFA;
}
.button_link:active {
	text-decoration: none;
	color: #303030;
	background-color: #FDF06F;
	border: 1px solid #FDF06F;
}

.button_link:focus {
	text-decoration: none;
	color: #303030;
	background-color: #FDF06F;
	border: 1px solid #FDF06F;
}

.input_href {
	    height: 50px;
    width: 80%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c0c2ce;
    padding: 15px;

}
.input_href:focus {
border: 1px solid #FDF06F;
outline: none;
	color: #303030;
}

.Active {
	text-decoration: none;
	color: #303030;
	background-color: #FDF06F;
	border: 1px solid #FDF06F;
}

:input-placeholder {
color: #303030;
font-weight: 100 !important;
}

.font_href {
	font-weight: 500 !important;
	height: 150px;
	margin-bottom: 100px;
	font-size: 22px;
}


