<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>Заголовок</title>
	<meta name="description" content="">
	 <link rel="stylesheet" type="text/css" href="css/main.css" />
	 <link rel="stylesheet" type="text/css" href="css/fonts.css" />
	 <link rel="stylesheet" type="text/css" href="css/header.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>



</head>

<body>

<div class="container" ng-app>
	<div class="row">

		<div class="col-xs-12"><h1>ЮТМка</h1></div>
		<div class="col-md-8">
			<p style="margin-top: 0;">Этот простой сервис помогает сотрудникам из «Этажей» быстро простовлять ЮТМ—метки для контекстной рекламы</p>
		</div>

			<div id="count">
				<div class="col-md-12">
				<h3>В поле вставляем ссылку</h3>
			<input class ="input_href" type="text" size="100" placeholder="Сюда вставляется ссылка" ng-model="yourHref">
		</div>
		<div class="col-md-12">
		<h3>Выбираем рекламную сеть</h3>
		<nav>
			<ul class="menu">
				<li><a id="yandex.search_btm" href="#yandex.search" class="button_link" ng-click="utm = '?utm_source=yandex.search&utm_medium=cpc&utm_campaign={campaign_id}&utm_content={ad_id}&utm_term={keyword}'">Яндекс:Поиск</a></li>
				<li><a href="#yandex.context" class="button_link" ng-click="utm = '?utm_source=yandex.context&utm_medium=cpc&utm_campaign={campaign_id}&utm_content={ad_id}&utm_term={keyword}'">Яндекс:РСЯ</a></li>
				<li><a href="#google.search" class="button_link" ng-click="utm = '?utm_source=google.search&utm_medium=cpc&utm_campaign={campaignid}&utm_content={creative}&utm_term={keyword}'">Гугл:Поиск</a></li>
				<li><a href="#google.context" class="button_link" ng-click="utm = '?utm_source=google.kms&utm_medium=cpc&utm_campaign={campaignid}&utm_content={creative}&placement={placement}&utm_term={keyword}'">Гугл:КМС</a></li>
			</ul>
			</nav>


		</div>


<div class="col-md-8 test">
<b> <i> Готовая ссылка: </i></b>
<br>
	<p class="font_href" id="post-shortlink">{{yourHref}}{{utm}}  {{count}}</p>
</div>
</div>
<footer id="footer">
			<div class="col-md-8 margin-top">
				<p> <span style="font-weight: 600;"> Важно:</span>  Всегда приверяйте ссылку перед тем как отправить ее в рекламную кампанию</p>
			</div>
	</div>
</footer>	
</div>



	<div class="hidden"></div>




</body>
</html>