<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>ЮТМка генерация</title>
	<meta name="description" content="">
	 <link rel="stylesheet" type="text/css" href="css/main.css" />
	 <link rel="stylesheet" type="text/css" href="css/fonts.css" />
	 <link rel="stylesheet" type="text/css" href="css/header.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="js/jquery.liTranslit.js"></script>
<script src="js/emerge.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script scr="js/ZeroClipboard.js"></script>
<script src="js/common.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44924509 = new Ya.Metrika({
                    id:44924509,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44924509" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</head>

<body>

<div class="container" ng-app="utmApp">
	<div class="row" ng-controller="utmAddController">

		<div class="col-xs-12"><h1>ЮТМка</h1></div>
		<div class="col-md-8">
			<p style="margin-top: 0;">Этот простой сервис помогает сотрудникам из «Этажей» быстро проставлять ЮТМ — метки для рекламы в интернете</p>
		</div>
		<div class="col-md-12">
					<nav>
			<ul  id="menu" class="menu" style="  margin: 10px 0px 0px;">
				<li class="emerge" data-effect="relax" data-scale=".5" data-origin="bottom"><a id="/" href="/" class="button_link">Контекстная реклама</a></li>
				<li class="emerge" data-effect="relax" data-scale=".5" data-origin="top"><a href="/social" class="button_link">Социальные сети</a></li>
				
			</ul>
			</nav>
		</div>

			<div id="count">
				<div class="col-md-12">
				<h3>В поле вставляем ссылку</h3>
			<input class ="input_href emerge" data-effect="relax" data-hold="150" data-scale=".5" data-origin="bottom" type="text" size="100" placeholder="Сюда вставляется ссылка" ng-model="yourHref">
		</div>
		<div class="col-md-12">
		<h3>Выбираем рекламную сеть</h3>
		<nav>
			<ul class="menu" >
				<li class="emerge" data-effect="relax" data-hold="600" data-scale=".5" data-origin="top"><a id="yandex.search_btm" href="#yandex.search" class="button_link" ng-click="utmAddSearchYandex()" onclick="yaCounter44924509.reachGoal('yandexsearch', goalCallback);yaCounter44924509.reachGoal('allbutton'); return true;">Яндекс:Поиск</a></li>
				<li class="emerge" data-effect="relax" data-hold="300" data-scale=".5" data-origin="bottom"><a href="#yandex.context" class="button_link" ng-click="utmAddContextYandex()">Яндекс:РСЯ</a></li>
				<li class="emerge" data-effect="relax" data-hold="400" data-scale=".5" data-origin="top"><a href="#google.search" class="button_link" ng-click="utmAddSearchGoogle()">Гугл:Поиск</a></li>
				<li class="emerge" data-effect="relax" data-hold="200" data-scale=".5" data-origin="bottom"><a href="#google.context" class="button_link" ng-click="utmAddContextGoogle()">Гугл:КМС</a></li>
				
			</ul>
			</nav>

		</div>


<div class="col-md-8 test">
<b> <i> Готовая ссылка: </i></b>
<br>
	<p class="font_href " id="post-shortlink" style="word-wrap: break-word;">{{yourHref}}{{utm}}{{yourCampain}}</p>
</div>
</div>
</div>
</div>
<footer id="footer">
<div class="container">
<div class="row">
			<div class="col-md-8 margin-top">
				<p> <span style="font-weight: 600; "> Важно:</span>  Всегда проверяйте ссылку перед тем как отправить ее в рекламную кампанию</p>
			</div>
			</div>
</div>
</footer>	
</div>




	<div class="hidden"></div>


<script scr="js/copy.js"></script>
    <script type="text/javascript">

	    

        function goalCallback () {
	var input_val = $(".input_href").val();
		console.log(input_val);
	var goalParams = {myParam: input_val};
            console.log('запрос в Метрику успешно отправлен' goalParams);
        }
    </script>	
</body>
</html>
