<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>ЮТМка генерация</title>
	<meta name="description" content="">
	 <link rel="stylesheet" type="text/css" href="css/main.css" />
	 <link rel="stylesheet" type="text/css" href="css/fonts.css" />
	 <link rel="stylesheet" type="text/css" href="css/header.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="js/jquery.liTranslit.js"></script>
<script src="js/emerge.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/common.js"></script>




</head>

<body>

<div class="container" ng-app="utmApp">
	<div class="row" ng-controller="utmAddController">

		<div class="col-xs-12"><h1>ЮТМка</h1></div>
		<div class="col-md-8">
			<p style="margin-top: 0;">Этот простой сервис помогает сотрудникам из «Этажей» быстро проставлять ЮТМ — метки для рекламы в интернете</p>
		</div>
		<div class="col-md-12">
					<nav>
			<ul id="menu" class="menu" style="  margin: 10px 0px 0px;">
				<li class="emerge" data-effect="relax" data-scale=".5" data-origin="bottom"><a id="/" href="/" class="button_link" >Контекстная реклама</a></li>
				<li class="emerge" data-effect="relax" data-scale=".5" data-origin="top"><a href="/social" class="button_link">Социальные сети</a></li>
				
			</ul>
			</nav>
		</div>

			<div id="count">
				<div class="col-md-12">
				<h3>В поле вставляем ссылку</h3>
			<input class ="input_href emerge" data-effect="relax" data-hold="150" data-scale=".5" data-origin="bottom" type="text" size="100" placeholder="Сюда вставляется ссылка" ng-model="yourHref">
		</div>
		<div class="col-md-12">
		<h3>Выбираем рекламную сеть</h3>
		<nav>
			<ul class="menu" >
				<li class="emerge" data-effect="relax" data-hold="600" data-scale=".5" data-origin="top"><a id="" href="#vk.cpc" class="button_link" ng-click="utmAddVKcpc()">Вконтакте</a></li>
				<li class="emerge" data-effect="relax" data-hold="300" data-scale=".5" data-origin="bottom"><a href="#ok.cpc" class="button_link" ng-click="utmAddOKcpc()">Однокласники</a></li>
				<li class="emerge" data-effect="relax" data-hold="400" data-scale=".5" data-origin="top"><a href="#fb.sps" class="button_link" ng-click="utmAddFBcpc()">Фейсбук</a></li>
				<li class="emerge" data-effect="relax" data-hold="200" data-scale=".5" data-origin="bottom"><a href="#ins.spc" class="button_link" ng-click="utmAddINScpc()">Инстаграм</a></li>
				
			</ul>
			</nav>
			<input id="utm_campain" class ="input_href emerge" data-effect="relax" data-hold="650" data-scale=".5" data-origin="top" type="text" size="100" placeholder="Сюда написать название поста" ng-model="yourCampain" style="margin-top: -20px;">

		</div>


<div class="col-md-8 test" style="
    margin-top: 50px;
">
<b> <i> Готовая ссылка: </i></b>
<br>
	<p class="font_href break" id="post-shortlink" style="word-wrap: break-word;">{{yourHref}}{{utm}}{{yourCampain}}</p>
</div>
</div>
</div>
</div>
<footer id="footer">
<div class="container">
<div class="row">
			<div class="col-md-8 margin-top">
				<p> <span style="font-weight: 600;"> Важно:</span>  Всегда проверяйте ссылку перед тем как отправить ее в рекламную кампанию</p>
			</div>
			</div>
</div>
</footer>	
</div>




	<div class="hidden"></div>



</body>
</html>